body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgb(240, 165, 209);
    padding: 3px;
    margin: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

fieldset {
    display: block;
    margin-left: 5px;
    padding-top: 1px;
    background-color: rgb(255, 207, 215);
    
}

legend {
    background-color:rgb(240, 165, 209);
}

.form-row input:not([type="submit"]) {
    padding: 5px;
    border-radius: 5px;
    background-color: aliceblue;
}

.form-row input[type="submit"] {
    padding: 30px;
    background-color:rgb(240, 165, 209);
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    border-radius: 10px;
}


.radio-row {
    display: flex;
    gap: 40px;
    margin: 5px;
}

.form-spacer {
    width: 150px;
    text-align: ce;
}


footer {
    font-family:Georgia, 'Times New Roman', Times, serif;
}